.points-button {
    @include mint-button;
    display: flex;
    align-items: center;
    padding: 13px 16px;
}
.points-button__points {
    padding: 3px 1px 3px 38px;
    border-left: 1px solid #36A1AF;
    margin-left: 16px;
    background: url(../img/point.svg) no-repeat;
    background-position: 15px 2px;
}
.points-button__icon {
    margin-right: 4px;
}