.points-button {
    @include mint-button;
    display: flex;
    align-items: center;
    padding: 12px 16px;
}
.points-button__points {
    display: flex;
    align-items: center;
    padding: 3px 1px 3px 16px;
    border-left: 1px solid #36A1AF;
    margin-left: 16px;
    background: url(../img/point.svg) no-repeat;
}
.points-button__icon {
    margin-right: 4px;
}