.radiobuttons-list {
    @include list-reset;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #18204A;
}
.radiobuttons-list__item {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}
.radiobuttons-list__label {
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 0;
    cursor: pointer;

    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        border-radius: 100%;
        background: #F3F6FB;
        border: 2px solid #A0A8C5;
    }
}
.radiobuttons-list__input:checked + .radiobuttons-list__label::before {
    background: #FFFFFF;
    border: 6px solid $mint;
}