@mixin hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
@mixin mint-button {
  display: block;
  background-color: $mint;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}