@mixin hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin maw($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin miw($width) {
  @media (min-width: $width) {
    @content;
  }
}