@charset "UTF-8";

@import "variables.scss";
@import "mixin.scss";
@import "blocks/info-block.scss";
@import "blocks/points-button.scss";
@import "blocks/patient-info.scss";

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  backface-visibility: hidden;
}

*::selection {
  background-color: #3f5ca1;
  color: #fff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.2;
  color: #1B234A;
  background-color: #FAFBFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  text-align: center;
  color: #1B234A;
}

h1 {
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  margin-top: 109px;
  margin-bottom: 24px;
}

@media (max-width: $tablet-width) {
  h1 {
    font-size: 30px;
    line-height: 1;
    margin: 50px 30px 25px;
  }
}
@media (max-width: $mobile-width) {
  h1 {
    font-size: 18px;
    line-height: 26px;
    margin: 16px;
  }
}

a {
  color: inherit;
}
a,
button {
  cursor: pointer;
}

p,
li {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

p {
  margin: 0 0 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  max-width: 100%;
}

table {
  backface-visibility: visible;
}

td, th {
  padding: 20px;
  text-align: center;
  border: 1px solid #e1e1e1;
}

input,
textarea,
select{
  background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus{
  outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background: #f0f0f0;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  border: none;
  outline: none;
}

.error {
  background-color: rgba(255, 0, 0, .4);
}
.hidden {
  @include hidden;
}
